* {
  box-sizing: border-box;
}

#intro {
  display: flex;
  justify-content: center;
  text-align: center;
  div {
    width: 66.66%;
  }
}

#intro {
  height: 10vh;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  display: flex;
} 

* #body-carousel {
  height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  display: flex;
}

input[type="radio"] {
  display: none;
}

.carousel-card {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: clamp(50%, 60%, 70%);
  /* max-height: 600px; */
  height: clamp(400px, 100%, 600px);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carousel-cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.carousel-cards img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}


$bg-imgs: (
  "updates-1" :"https://lh3.googleusercontent.com/pw/AP1GczORX10r9AvNIVKQ5Z5I3NMvOuLMw2p_CfRbLfk8DWY-d1prBtgAYtP3txoC-TDSoQbTJc0Bl2IMa7XicxQs013qdVE19P4YtaTzn8VnuytlU1Mg7AOe1BG8JGM3OWCGb4VkZamgGhAC6r1qAjQ7oBew=w1024-h600-s-no-gm?authuser=0",
  "updates-2" :"https://lh3.googleusercontent.com/pw/AP1GczNgaw8bRDGjv-0gR_ZdFnbQP5bKVcwapbKZ8qIfhj_UHE79yXIYiAtcRbMr84fECXLd2ra5C2SLxtsV1kSuNDA-InCK58V4SnKW5Dkb9WC4b5q9C6Pz8e0H60Rk9PO8r0NB049XiO1ILSIz2_MtkbEYBw=w1024-h600-s-no-gm?authuser=0",
  "updates-3" :"https://lh3.googleusercontent.com/pw/AP1GczNhd5Ag7LIvcHLiv_T7CD2bY2xPGE56Ew4UBDYsy3kiL_JZvyNLzvQjIC00CCYMgpWGWFPeq9goNi-N-y5Y_O3KiA3oQaIIxNzkVw2kV4Ec-QjbOpduqbqGrlRCzkhjj6-q9ecCjfCD6GvpmFhi6MaKPQ=w1024-h600-s-no-gm?authuser=0",
  "updates-4" :"https://lh3.googleusercontent.com/pw/AP1GczN8VSMuXgzy4esI6ywnmKrWmr9Ky9MVa3_eydxddgufWYI3TFNOz3Tpr4PNBVPYe48kvLWuzp_-g1sD2VjNGTJR-l8yqvisN74Cfj4VzHgR5fLXS375nzn4zg9O0er6J9eiSEmIKDwX78FmuJQhYLIsPQ=w1024-h600-s-no-gm?authuser=0",
  "updates-5" :"https://lh3.googleusercontent.com/pw/AP1GczOi5GbabpvOKkGkZLFAwCG7ZlVsfQ7LlLm3Z4kFIxylIvZNTbP3zpfgAb9_uJXuhevnDdR6YdpgNwrAPrsWr9xRn1a6_PqbLEN8ZmD89pORjQd6q7OhFO2ZQC292-vTXvl-nvREyoAIti8ZYX0PC_8fbQ=w1024-h600-s-no-gm?authuser=0"
);


@each $name, $bg-img in $bg-imgs {
  ##{ $name } {
    background-image: url("#{$bg-img}");
  }
}

#updates-1,
#updates-2,
#updates-3,
#updates-4,
#updates-5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#item-1:checked ~ .carousel-cards #updates-3,
#item-2:checked ~ .carousel-cards #updates-4,
#item-3:checked ~ .carousel-cards #updates-5,
#item-4:checked ~ .carousel-cards #updates-1,
#item-5:checked ~ .carousel-cards #updates-2 {
  transform: translatex(65%) scale(0.6);
  opacity: 0.4;
  z-index: -1;
}

#item-1:checked ~ .carousel-cards #updates-4,
#item-2:checked ~ .carousel-cards #updates-5,
#item-3:checked ~ .carousel-cards #updates-1,
#item-4:checked ~ .carousel-cards #updates-2,
#item-5:checked ~ .carousel-cards #updates-3 {
  transform: translatex(-65%) scale(0.6);
  opacity: 0.4;
  z-index: -1;
}

#item-1:checked ~ .carousel-cards #updates-5,
#item-2:checked ~ .carousel-cards #updates-1,
#item-3:checked ~ .carousel-cards #updates-2,
#item-4:checked ~ .carousel-cards #updates-3,
#item-5:checked ~ .carousel-cards #updates-4 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-1:checked ~ .carousel-cards #updates-2,
#item-2:checked ~ .carousel-cards #updates-3,
#item-3:checked ~ .carousel-cards #updates-4,
#item-4:checked ~ .carousel-cards #updates-5,
#item-5:checked ~ .carousel-cards #updates-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-1:checked ~ .carousel-cards #updates-1,
#item-2:checked ~ .carousel-cards #updates-2,
#item-3:checked ~ .carousel-cards #updates-3,
#item-4:checked ~ .carousel-cards #updates-4,
#item-5:checked ~ .carousel-cards #updates-5 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
