@media screen and (orientation: portrait) {
    h1.sp-center {
        text-align: center;
    }

    .container {
        height: clamp(100px, 80%, 100%);
    }

    #body-carousel{
        @each $name, $bg-img in $bg-imgs {
            ##{ $name } {
              background-image: url("#{$bg-img}");
            }
        }
    }

    #navbar {
        z-index: 2;
        ul#nav-list{
            position: relative;
            li.nav-item {
                a.nav-link {
                    .fa-caret-down {
                        padding-left: 5px;
                    }
                }
                .dropdown-container {
                    position: absolute;
                    top: -48px;
                    left: 0;
                    display: none;
                    width: 100%;
                    padding: 0;
                    li {
                        list-style: none;
                        &.nav-item {
                            background: rgba(darken(#ffc0cb,5%),0.6);
                        }
                    }
                }
            }
        }
    }

    .photo-grid {
        div.card.sp-top {
            background-position: top;

        }
    }

    .button {
      background-color: #f7a6e0;
      border: none;
      color: black;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 16px;
      &:hover {
        background-color: #d380b2;
      }
    }
    
  
    #social-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      div {
        width: 33.33%;
        text-align: center;
    
      }
    }
  
    #support-new {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      div {
        text-align: center;
      }
    }
}