/*
Source:
https://github.com/fireship-io/224-animated-css-grid/blob/master/public/photo-grid.css
*/

.photo-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}
  
/* Medium screens */
@media only screen and (orientation: landscape) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}
